@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ToDoList.Models.ToDoItem
@{
    string className = "";
    if (Model.IsCompleted)
    {
        className = "completed";
    }
}

<li class="@className">
    @Model.Task
    <div>
        @if (Model.IsCompleted)
        {
            @Html.ActionLink("Completed", "UndoCompleteTask", "Home", new { @id = Model.Id }, new { @class = "btn btn-success" })
        }
        else
        {
            @Html.ActionLink("Pending", "CompleteTask", "Home", new { @id = Model.Id }, new { @class = "btn btn-warning" })
        }
        @Html.ActionLink("Delete Task", "DeleteTask", "Home", new { @id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
</li>
